@import './base.css';

@media (prefers-color-scheme: dark) {

  :root {
    /* Primary and Secondary Colors */
    --primary-color: #000955;
    --secondary-color: #9C00FF;
    --primary-color75: #8e9195;
    --primary-color50: #b5b7ba;
    --primary-color25: #dadbdd;
  
    /* Call to Action and Text Colors */
    --cta-color: #00FF00;
    --text-color: #FFFFFF;
  
    /* Background and Border Colors */
    --background-color: rgba(0, 0, 0, 0.1);
    --container-background-color: rgba(0, 0, 0, 0.1);
    --border-color: rgba(0, 0, 0, 0.15);
  
    /* Field Colors */
    --field-bg-color: rgba(255, 255, 255, 0.2);
    --field-color: var(--text-color);
  
    /* Input Colors */
    --input-bg-color: rgba(0, 0, 0, 0.1);
    --input-color: var(--text-color);
  
    /* Textarea Colors */
    --textarea-bg-color: rgba(0, 0, 0, 0.2);
    --textarea-color: var(--text-color);
  
    /* Button Colors */
    --final-button-bg-color: rgba(105, 64, 168, 0.6);
    --final-button-color: var(--text-color);
  
    /* Dropdown Colors */
    --dropdown-item-bg-color: rgba(0, 0, 0, 0.7);
    --dropdown-item-color: var(--text-color);
    --dropdown-item-hover-bg-color: rgba(255, 255, 255, 0.7);
  
    /* Header Item Colors */
    --header-item-bg-color: rgba(0, 0, 0, 0.2);
    --header-item-color: var(--text-color);
    --header-item-hover-bg-color: rgba(255, 255, 255, 0.2);
    --header-item-hover-color: var(--text-color);
  
    /* Dropdown Menu Colors */
    --dropdown-menu-bg-color: rgba(0, 0, 0, 0.2);
    --dropdown-menu-color: var(--text-color);
  
    /* Miscellaneous Colors */
    --button-hover-bg-color: rgba(0, 0, 0, 0.3);
    --placeholder-color: rgba(255, 255, 255, 0.6);
    --delete-field-bg-color: rgba(0, 0, 0, 0.2);
    --a-color: var(--text-color);
  
    /* App Background */
    --app-bg: linear-gradient(150deg, var(--primary-color), var(--secondary-color));
  
    /* Header and Footer Colors */
    --header-footer-bg-color: rgba(0, 0, 0, 0.5);
    --header-footer-color: var(--text-color);
    --footer-bg-color: rgba(0, 0, 0, 0.5);
    --footer-color: var(--text-color);
  
    /* Card Colors */
    --card-bg-color: var(--background-color);
    --card-border-color: var(--primary-color50);
    --card-title-color: var(--text-color);
    --card-title-border-color: var(--secondary-color);
    --card-body-color: var(--text-color);
  
    /* List Colors */
    --list-item-bg-color: rgba(0, 0, 0, 0.0);
    --list-item-border-color: var(--primary-color50);
    --list-item-color: var(--text-color);
  }
}

@media (prefers-color-scheme: light) {

  .logo {
    content:url('https://expertenforum.sybit.de/sales/theme/sybit-intern/images/sybit-marketing-logo.png');
  }

  :root {
    /* Primary and Secondary Colors */
    --primary-color: #66696C;
    --secondary-color: #b51783;
    --primary-color75: #8e9195;
    --primary-color50: #b5b7ba;
    --primary-color25: #dadbdd;
  
    /* Call to Action and Text Colors */
    --cta-color: #00FF00;
    --text-color: var(--primary-color);
  
    /* Background and Border Colors */
    --border-color: var(--secondary-color)
  
    /* Field Colors */
    --field-bg-color: rgba(255, 255, 255, 0.2);
    --field-color: black;
  
    /* Input Colors */
    --input-bg-color: rgba(0, 0, 0, 0.1);
    --input-color: white;
  
    /* Textarea Colors */
    --textarea-bg-color: rgba(0, 0, 0, 0.2);
    --textarea-color: var(--text-color);
  
    /* Button Colors */
    --final-button-bg-color: grey;
    --final-button-color: white;
  
    /* Dropdown Colors */
    --dropdown-item-bg-color: var(--primary-color75)
    --dropdown-item-color: white;
    --dropdown-item-hover-bg-color: rgba(255, 255, 255, 0.7);
  
    /* Header Item Colors */
    --header-item-bg-color: rgba(0, 0, 0, 0.2);
    --header-item-color: var(--text-color);
    --header-item-hover-bg-color: rgba(255, 255, 255, 0.2);
    --header-item-hover-color: var(--text-color);
  
    /* Dropdown Menu Colors */
    --dropdown-menu-bg-color: rgba(0, 0, 0, 0.2);
    --dropdown-menu-color: var(--text-color);
  
    /* Miscellaneous Colors */
    --button-hover-bg-color: rgba(0, 0, 0, 0.3);
    --placeholder-color: var(--primary-color75)
    --delete-field-bg-color: rgba(0, 0, 0, 0.2);
    --a-color: var(--text-color);
  
    /* App Background */
    --app-bg: var(--primary-color25);
  
    /* Header and Footer Colors */
    --header-bg-color: white;
    --header-color: #3b3b3b;
    --footer-bg-color: #3b3b3b;
    --footer-color: var(--text-color);
  
    /* Card Colors */
    --card-bg-color: white;
    --card-border-color: var(--primary-color50);
    --card-title-color: var(--text-color);
    --card-title-border-color: var(--secondary-color);
    --card-body-color: var(--text-color);
  
    /* List Colors */
    --list-item-bg-color: rgba(0, 0, 0, 0.0);
    --list-item-border-color: var(--primary-color50);
    --list-item-color: var(--text-color);

    --logo-bg-color: var(--primary-color75);

    --form-container-bg-color:white;
  }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

p {
  margin: 0;
}

.field {
  width: 100%;
  flex-grow: 1;
  align-items: stretch;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.container > .field > * {
  background-color: var(--field-bg-color);
  border: 2px solid var(--field-color);
  border-radius: 12px;
  margin: 3px;
}

.field > * {
  color: var(--field-color);
}

input {
  background-color: var(--background-color);
  color: var(--field-color);
  border-color: var(--border-color);
}

textarea {
  background-color: var(--field-bg-color);
  padding-bottom: 35px;
  color: var(--field-color);
}

.final_button {
  width: 300px;
  background-color: var(--final-button-bg-color);
  color: var(--final-button-color);
  display: flex;
  justify-content: center;
  border: 2px solid var(--field-color);
  border-radius: 12px;
  margin: 3px;
}

.header_item {
  padding: 5px;
  border: none;
}

.dropdown-item {
  background-color: var(--dropdown-item-bg-color);
  color: var(--dropdown-item-color);
}

.dropdown-item:hover {
  background-color: var(--dropdown-item-hover-bg-color);
}

.header_item, .dropdown-menu {
  background-color: var(--header-item-bg-color);
  color: var(--header-item-color);
}

.header_item:hover {
  background-color: var(--header-item-hover-bg-color);
  color: var(--header-item-hover-color);
  border-radius: 15px;
  border: 5px solid var(--header-item-hover-color);
}

.buttons {
  display: flex;
  gap: 20px;
}

.field input, .field button {
  margin: 0;
  padding: 7px;
  flex-grow: 1;
}

.delete {
  flex-grow: 0;
}

.header-box {
  display: flex;
  align-items: center;
}

button:hover {
  background-color: var(--button-hover-bg-color);
}

input::placeholder, textarea::placeholder {
  color: var(--placeholder-color);
}

.field > p {
  flex-grow: 1;
  text-align: center;
  padding: 6px;
}

.delete_field {
  background-color: var(--delete-field-bg-color);
  min-width: 150px;
  max-width: 250px;
}

.user-item {
  display: flex;
  align-items: center;
}

.delete-button {
  margin-left: 10px;
}

a {
  color: var(--a-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#app {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: var(--app-bg);
  font-size: 1rem;
  color: var(--text-color);
}

#ctx {
  min-height: 84.2vh;
}

.container {
  display: flex;
  height: 100%;
}

header {
  background-color: var(--header-bg-color);
  color: var(--header-color);
}
footer {
  background-color: var(--footer-bg-color);
  color: var(--footer-color);
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--card-title-color);
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--card-title-border-color);
  padding-bottom: 0.5rem;
}

.card-text {
  font-size: 1rem;
}

.card-body {
  background-color: var(--card-bg-color);
  color: var(--card-body-color);
  padding: 1rem;
  border-radius: 0.5rem;
  flex-grow: 1;
}

.logo {
  height: 35px;
  width: auto;
}

.container, .row, .col-md-4, .col-md-8 {
  background-color: var(--container-background-color);
  color: var(--text-color);
}

.card, .card > img {
  background-color: var(--card-bg-color);
  color: var(--card-body-color);
  border: 1px solid var(--card-border-color);
  border-radius: 0.5rem;
}

.list-group-item {
  background-color: var(--list-item-bg-color);
  color: var(--list-item-color);
  border: 1px solid var(--list-item-border-color);
}
.form-container{
  margin-top: 20px;
  background-color: var(--form-container-bg-color);
}