@import './base.css';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#app {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(150deg, var(--primary-color), var(--secondary-color));
  font-size: 1rem;
  color: var(--text-color);
}

#ctx {
  min-height: 84.2vh;
}

.container {
  display: flex;
  height: 100%;
}

header, footer {
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--text-color);
}

.card-title {
  font-size: 1.5rem; 
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--secondary-color); 
  padding-bottom: 0.5rem; 
}

.card-text {
  font-size: 1rem;
}

.card-body {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 1rem;
  border-radius: 0.5rem;
  flex-grow: 1;
}

.logo {
  height: 30px;
  width: auto;
}

.container, .row, .col-md-4, .col-md-8 {
  background-color: var(--background-color);
  color: var(--text-color);
}

.card {
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--primary-color50);
  border-radius: 0.5rem;
}

.list-group-item {
  background-color: rgba(0, 0, 0, 0.0);
  color: var(--text-color);
  border: 1px solid var(--primary-color50);
}  
